.advantages {
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
  color: @font-color;
  text-align: center;

  @media (max-width: @tablet-width) {
    margin-top: 290px;
  }
}

.advantages__wrapper {
  background: url("../img/grey-background-mobile.svg") no-repeat 0 -40px;
  background-size: cover;
  display: grid;
  min-width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    grid-template-rows: auto auto;
    justify-content: space-between;
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    min-width: 940px;
  }
}

.advantages__offer {
  background-color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.advantages__list {
  text-align: center;

  @media (min-width: @mobile-width) {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
  }
}

.advantages-list picture:first-child {
  margin: auto;

  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.advantages-list picture:nth-child(2) {
  margin: auto;

  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.advantages-list picture:nth-child(3) {
  margin: auto;
  z-index: 0;

  @media (max-width: @tablet-width) {
    width: 157px;
    height: 320px;
    order: 2;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 268px;
    height: 547px;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.advantages-list__item h3 {
  color: #000000;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages-list__item p {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
