.advantages {
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
  color: @font-color;
}

.advantages__wrapper {
  background-color: @block-background;
}

.advantages-list__item h3 {
  color: #000000;
}
