.advantages {
  color: @font-color;
  text-align: center;

  @media (max-width: @tablet-width) {
    margin-top: 290px;
  }
}

.advantages__wrapper {
  background: url("../img/grey-background-mobile.svg") no-repeat 0 -40px;
  background-size: cover;
  min-width: 280px;
  margin: 0 auto;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
  }
}

.advantages__offer {
  background-color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.advantages__list {
  text-align: center;
  position: relative;

  @media (min-width: @mobile-width) {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    justify-content: center;
  }
}

.advantages__image-smile {
  width: 157px;
  height: 320px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: @desktop-width) {
    width: 186px;
    height: 382px;
  }
}

.advantages-list__item h3 {
  color: #000000;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages-list__item p {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.image-grey-description,
.image-pink-description,
.image-smile-description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    text-align: left;
  }
}

.image-grey-description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: 50px;
  }
}

.image-pink-description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: -70px;
  }
}

.image-smile-description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: -70px;
  }
}
