.catalogue__title {
  background: #0b0435 url("../img/back-mobile.png") no-repeat;
  min-height: 237px;
  color: #ffffff;
  background-size: cover;
  text-align: center;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background: url("../img/back-tablet.png") no-repeat;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    background: url("../img/back-desktop.png") no-repeat;
    background-size: cover;
  }
}

.catalogue__intro {
  line-height: 30px;
  color: @font-color;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
