.contacts {
  outline: 3px solid rgba(250, 174, 9, 0.7);
  outline-offset: -3px;
}

.contacts__slogan {
  color: @font-color;
}

.contacts__info a,
.adress {
  color: @icon-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
}
