.download-app {
  outline: 3px solid rgba(254, 10, 0, 0.7);
  outline-offset: -3px;
  min-height: 462px;
  background: url("../img/hand-mobile.png") no-repeat bottom left,
    url("../img/back-mobile.png") no-repeat;
  background-size: auto, cover;
  color: #ffffff;
}

.download-app a {
  color: #ffffff;
}

.download-app__buttons p {
  font-weight: 300;
}
