.form {
  line-height: 30px;
}

.form ul {
  list-style: none;
}

.form-title {
  background: #0b0435 url("../img/back-mobile.png") no-repeat;
  min-height: 200px;
  color: #ffffff;
  background-size: cover;
}

.form-add {
  line-height: 30px;
}

.form__radio-checkbox {
  background-color: @block-background;
}
