.form {
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.form ul {
  list-style: none;
  padding: 0;
}

.form-title {
  background: #0b0435 url("../img/back-mobile.png") no-repeat;
  min-height: 237px;
  color: #ffffff;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background: url("../img/back-tablet.png") no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    background: url("../img/back-desktop.png") no-repeat;
    background-size: cover;
  }
}

.form-add {
  line-height: 30px;
  //position: absolute;
  //top: 237px;
  background-color: #ffffff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 51px;
  padding-top: 36px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    //top: 440px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 82px;
    padding-top: 100px;
  }

  @media (min-width: @desktop-width) {
    //top: 394px;
    padding-left: 222px;
    padding-right: 222px;
    padding-bottom: 100px;
    padding-top: 95px;
  }
}

.form__radio-checkbox {
  background-color: @block-background;
  border: none;
  margin-top: -20px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.form__radio-checkbox legend {
  text-align: center;
  line-height: 18px;
}

.form__achievments {
  @media (min-width: @tablet-width) {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.form__apps {
  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.form__contact-info {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.form__textarea {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.form__name,
.form__contact-info {
  border: none;
}

.form__contacts input,
.form__contact-info input {
  height: 59px;
  min-width: 276px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.form__contacts li,
.form__contact-info li {
  margin-bottom: 20px;
}

.form__contact-info legend {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

.achievments-list__item {
  position: relative;
  margin-bottom: 47px;
}

.achievments-list__item label {
  padding-left: 79px;
}

.form-heading {
  padding-top: 60px;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 22px;
  width: 35px;
  height: 35px;
  border: 2px solid #E5E5E5;
  background: #FFFFFF;
  border-radius: 1px;
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 31px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.apps-list__item {
  position: relative;
  margin-bottom: 47px;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  left: 22px;
  width: 37px;
  height: 37px;
  border: 2px solid #E5E5E5;
  background: #FFFFFF;
  border-radius: 50%;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 35px;
  width: 15px;
  height: 15px;
  background-color: @icon-color;
  border-radius: 50%;
}

.apps-list__item label {
  padding-left: 90px;
}

.form__textarea {
  border: none;
  margin-top: -20px;
  text-align: center;
}

.form__textarea legend {
  text-align: center;
}

.form__textarea textarea {
  width: 276px;
  margin: 0 auto;
  padding-top: 22px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.form__text-field {
  padding-left: 20px;
}

.form .form__button {
  margin-left: 30px;
}
