.main-navigation__list {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
}

.main-navigation__list a {
  color: #ffffff;
}
