// Классы для реализации открытого меню в потоке без использования JS, отображение навигации

.main-navigation {
  text-align: center;

  @media (min-width: @desktop-width) {
  min-width: 750px;
  }
}

.main-navigation__toggle {
  display: none;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    text-transform: none;
    display: flex;
  }
}

.main-navigation__item {
  height: 63px;

  @media (max-width: 1199px) {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000000;
    height: 63px;
    line-height: 63px;
  }

  @media (min-width: @desktop-width) {
    height: 32px;
    margin-right: 79px;
  }
}

.main-navigation__item a {
  color: #ffffff;
}

// Поведение пунктов меню при наведении - нажатии

.main-navigation__item a:hover {
  color: @icon-color;
}

.main-navigation__item a:active {
  color: #ffffff;
  opacity: 0.3;
}

// Классы для реализации открытого меню вне потока при использовании JS

.page-header--opened .main-navigation {
  @media (max-width: 1199px) {
    position: relative;
  }
}

.page-header--opened .main-navigation__toggle {
  background-color: @font-color;
  border: none;
  display: block;
  position: absolute;
  top: -35px;
  right: 20px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 29px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: @icon-color;
  }

  &:active::before,
  &:active::after {
    background-color: fade(@icon-color, 30%);
  }

  @media (min-width: @tablet-width) {
    top: -55px;
  }
}

// Классы для реализации закрытого меню
// Отображение кнопки-гамбургера

.page-header--closed .main-navigation__toggle {
  display: block;
  position: absolute;
  top: 21px;
  right: 20px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;
  padding: 0;

  @media (min-width: @tablet-width) {
    top: 43px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;
  padding: 0;
}

.page-header--closed .main-navigation__toggle::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;
  padding: 0;
}

.page-header--closed .main-navigation__toggle:hover,
.page-header--closed .main-navigation__toggle:hover::before,
.page-header--closed .main-navigation__toggle:hover::after {
  background-color: @icon-color;
}

.page-header--closed .main-navigation__toggle:active,
.page-header--closed .main-navigation__toggle:active::before,
.page-header--closed .main-navigation__toggle:active::after {
  background-color: fade(@icon-color, 30%);
}

// Отображение навигации

.page-header--closed .main-navigation__list {
  @media (max-width: 1199px) {
    display: none;
  }
}
