.page-footer {
  color: @font-color;
}

.page-footer__logo:active {
  opacity: 30%;
}

.page-footer__logo:hover {
  background: url("../img/page-footer-logo-hover.svg") no-repeat;
}

.page-footer__logo:hover svg {
  visibility: hidden;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  min-height: 284px;

  @media (min-width: @tablet-width) {
    min-height: 127px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
    min-height: 197px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-around;
  width: 182px;
  text-align: center;
  vertical-align: middle;
}

.page-footer__social a {
  border: 2px solid @block-background;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.page-footer__social a:hover {
  border: 3px solid #283645;
}

.page-footer__social a:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.page-footer__social a:active .page-footer__logo-link {
  opacity: 30%;
}

.page-footer__social a:nth-child(3) {
  padding-top: 10px;
  height: 38px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 132px;
}

.page-footer__htmlacademy-logo {
  fill: @icon-color;

  &:hover {
    fill: @font-color;
  }

  &:active {
    fill: fade(@font-color, 30%);
  }
}
