.page-header {
  background-color: @font-color;
  outline: 3px solid rgba(154, 127, 228, 0.7);
  outline-offset: -3px;
}

.main-navigation__list {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
}

.main-navigation__list a {
  color: #ffffff;
}
