// 1 Классы для реализации открытого меню в потоке без использования JS

.page-header {
  background-color: @font-color;

  @media (min-width: @desktop-width) {
    background-color: fade(#000000, 25%);
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// 1.1 Отображение логотипа

.page-header__logo {
  cursor: pointer;
  height: 69px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    height: 109px;
    display: block;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    height: 83px;
    padding-top: 27px;
    padding-left: 130px;
  }
}

.page-header__logo a {
  padding-left: 20px;

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.page-header__logo-image,
.page-header__logo-image-tablet,
.page-header__logo-image-desktop {
  fill: #ffffff;
}

.page-header__logo-image:hover,
.page-header__logo-image-tablet:hover,
.page-header__logo-image-desktop:hover {
  opacity: 1;
  fill: @icon-color;
}

.page-header__logo-image:active,
.page-header__logo-image-tablet:active,
.page-header__logo-image-desktop:active {
  fill: #ffffff;
  opacity: 0.3;
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-image-tablet {
  display: none;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: block;
  }
}

.page-header__logo-image-desktop {
  @media (max-width: 1199px) {
    display: none;
  }
}

// 2 Классы для реализации открытого меню вне потока при использовании JS

.page-header--opened {
  background-color: @font-color;
  position: absolute;
  width: 100%;
  z-index: 2;

  @media (min-width: @desktop-width) {
    background-color: fade(#000000, 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// 3 Классы для реализации закрытого меню

.page-header--closed {
  background-color: fade(#000000, 25%);
  position: absolute;
  width: 100%;
  z-index: 2;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
  }
}

.page-header--closed .page-header__logo {
  @media (min-width: @desktop-width) {
    margin-right: 170px;
  }
}
