/*
.photos__wrapper {
  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}*/

.photos__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.photos__main-photo::before {
  content: "Панорама дня";
  position: absolute;
  width: 140px;
  height: 36px;
  background-color: @icon-color;
  text-align: center;
  color: #ffffff;
  line-height: 36px;
  text-transform: uppercase;
  right: 20px;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.photo-of-the-day {
  width: 100%;
  height: auto;
}

.photos__main-photo {
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.photos__main-photo .photos__note {
  background-color: @block-background;
  width: 263px;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
  }
}

.photos__main-photo .photos__likes {
  background-color: @block-background;
  width: 245px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -15px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
  }
}

.photos-list__item:not(:nth-child(1)) {
  background-color: @block-background;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.photos__author-name {
  font-style: normal;
  font-weight: 700;
}

.photos__author-name span {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: @icon-color;
  //padding-left: 35px;
  position: relative;
}

.photos__likes::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/heart.svg") no-repeat;
  background-position: 0 0;
  left: 17px;
  top: 5px;
}

.photos__main-photo-likes::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background: url("../img/heart.svg") no-repeat;
  background-position: 0 0;
  left: 17px;
  top: 17px;
}

.photos__note {
  //padding-left: 17px;
  margin-left: 0;
  margin-right: 0;
}

.photos__item {
  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }
}
