.catalogue-title {
  background: #0b0435 url("../img/back-mobile.png") no-repeat;
  min-height: 200px;
  color: #ffffff;
  background-size: cover;
}

.catalogue-intro {
  line-height: 30px;
  color: @font-color;
}

.photos {
  outline: 3px solid #0b0435;
  outline-offset: -3px;
}

.photos__list {
  list-style: none;
}

.photos__note {
  margin: 0;
  padding: 0;
}

.photos-list__item {
  background-color: @block-background;
}
