.prices {
  outline: 3px solid rgba(250, 9, 158, 0.7);
  outline-offset: -3px;
  background-color: @block-background;
}

.prices__mobile {
  line-height: 30px;
  color: @font-color;
  text-transform: uppercase;
}
