.reseach {
  display: none;
  padding-top: 54px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
    background-color: @block-background;
    padding-bottom: 67px;
  }
}

.reseach__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 620px;
  }

  @media (min-width: @desktop-width) {
    min-width: 940px;
  }
}

.reseach__image {
  @media (max-width: @desktop-width) {
    width: 238px;
    height: 276px;
  }
}

.reseach__text h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.reseach__text p {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.reseach__text a {
  color: @icon-color;
  text-decoration: underline;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
