.reviews {
  outline: 3px solid rgba(250, 174, 9, 0.7);
  outline-offset: -3px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  font-style: normal;
}

.reviews__text {
  color: @font-color;
}
