.table-heading {
  background-color: @font-color;
  height: 94px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    height: 75px;
  }
}

.table-heading th {
  @media (min-width: @tablet-width) {
    border-right: 1px solid #ffffff;
  }
}

.table-heading .prices__mobile {
  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.table-tariff {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.table-price {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.table-option {
  width: 25%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  position: relative;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }
}

.table-cells td:first-child {
  padding-left: 20px;

  @media (max-width: @tablet-width) {
    padding-right: 20px;
  }
}

.table_ribbon-cell {
  position: relative;
}

.table_ribbon::before {
  content: "";
  width: 74px;
  height: 74px;
  background: url("../img/hit-ribbon.svg") no-repeat;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 20px;

  @media (min-width: @tablet-width) {
    left: 0;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 61px;
    height: 61px;
    background: url("../img/hit-ribbon-tablet.svg") no-repeat;
  }
}
